body{
		background-image: url("background.jpg")
	}

#title{
	font-size: 3em;
	margin: 20px 40px 20px 160px;
	font-family: Georgia, serif;
	font-weight: bold;
}	
#directions{
	background-color: white;
	border: black solid 2px;
	width: 600px;
	margin-top: 20px;
	padding: 5px;
	margin: 0px 40px 20px 50px;
	font-family: Georgia, serif;
}
.jewels{
	border: black solid 2px;
	padding: 10px;
	width: 300px;
	background-color: white;
	text-align: center;
	margin: 0px 40px 20px 80px;
	float: left;
}
img{
	height: 80px;
}
#wrapper{
	float: left;
}
#winlosebox{
	background-color: white;
	border: black solid 2px;
	width: 100px;
	padding: 5px;
	font-family: Georgia, serif;
}
#numberboxes{
	background-color: white;
	border: black solid 2px;
	width: 170px;
	margin-bottom: 15px;
	padding: 5px;
	font-family: Georgia, serif;
}


  