body{
	background-image: url("background.jpg");
	background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center; 
}
.jumbotron{
	text-align: center;
	margin-top: 10px;
}
.panel-heading{
	background-color: #F1D487;
}
#panelStyle{
	float:left;
	margin: 10px 20px 10px 0px;
}